.input {
    display: block;
    width: 100%;
    min-height: 40px;
    padding: 10px 15px;
    font-size: 14px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.5;
    color: #363636;
    background-color: #fff;
    background-image: none;
    margin-bottom: 15px;
    border: 1px solid #eaebf3;
    box-shadow: none;
    border-radius: 3px;
}
