.signin__box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.53);
    height: 100vh;
}

.signin__form {
    width: 800px;
    height: 445px;
    border-radius: 6px;
    background: #fff;
    padding: 40px 20px 25px;
}
